<a href="https://colab.research.google.com/github/vijayvishnu1/SE_assignment/blob/br2/25_aug_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.How to create Series with nd array

In [1]:
import pandas as pd 
import numpy as np
arr=np.array([110,15,20,25])
s=pd.Series(arr)
print (s)

0    110
1     15
2     20
3     25
dtype: int64

2.How to create Series with Mutable index

In [ ]:
import pandas as pd
import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr, index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

3.Creating a series from a Dictionary

In [ ]:
import pandas as pd
d = {'name':'hardik','iplteam':'mi','runs' :1500}
s = pd.Series(d)
print(s)

name       hardik
iplteam        mi
runs         1500
dtype: object

4. Print all the values of the Series by multiplying them by 2.
5. Print Square of all the values of the series.
6. Print all the values of the Series that are greater than2

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5])
print('to multiply all the value in a series by 2')
print('------------------------------------------')
print(s*2)
print('to find the square of a;ll the values in a series')
print('-------------------------------------------')
print(s**2)
print('to print all the values in a series that are greater than 2')
print('-----------------------------------------------')
print(s[s>2])

to multiply all the value in a series by 2
------------------------------------------
0     2
1     4
2     6
3     8
4    10
dtype: int64
to find the square of a;ll the values in a series
-------------------------------------------
0     1
1     4
2     9
3    16
4    25
dtype: int64
to print all the values in a series that are greater than 2
-----------------------------------------------
2    3
3    4
4    5
dtype: int64

7. Addition of two series

In [ ]:
import pandas as pd
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s3=pd.Series([5,14,23,32],index=['a','b','c','d'])
print('to add series 1 and series2')
print('-------------------------------------------')
print(s1+s2)
print('to add series1 and series2')
print(s2+s3)
print('to add series2 and series3 and filled non matching index with 0')
print('-----------------------------------------------')
print(s2.add(s3,fill_value=0))

to add series 1 and series2
-------------------------------------------
a    11
b    22
c    33
d    44
e    55
dtype: int64
to add series1 and series2
a    15.0
b    34.0
c    53.0
d    72.0
e     NaN
dtype: float64
to add series2 and series3 and filled non matching index with 0
-----------------------------------------------
a    15.0
b    34.0
c    53.0
d    72.0
e    50.0
dtype: float64

8. Print the first and last 5 elements of a series

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25])
s = pd.Series(arr)
print('the first 5 lements of series')
print (s.head())
print('the last 5 lements of series')
print (s.tail())

the first 5 lements of series
0    10
1    11
2    12
3    13
4    14
dtype: int64
the last 5 lements of series
11    21
12    22
13    23
14    24
15    25
dtype: int64

9. Print the values from index 0 to 5

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25])
s = pd.Series(arr)
print(s)
print('the lements from 0 to 5 loc in the  series')
print (s.loc[0:5])

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
dtype: int64
the lements from 0 to 5 loc in the  series
0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

10. Selection Using loc, iloc index label

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25])
s = pd.Series(arr)
print(s)
print('the lements from 0 to 5 loc in the  series using iloc')
print (s.iloc[0:5])
print('the lements from 0 to 5 loc in the  series using loc')
print (s.loc[0:5])

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
dtype: int64
the lements from 0 to 5 loc in the  series using iloc
0    10
1    11
2    12
3    13
4    14
dtype: int64
the lements from 0 to 5 loc in the  series using loc
0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

11. Retrieve subsets of data using slicing

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s = pd.Series(arr,index=['a','b','c','d','e','f'])
print(s)
print(s[1:5:2])
#[start:end:step]

a    10
b    15
c    18
d    22
e    55
f    77
dtype: int64
b    15
d    22
dtype: int64